USE [master]
GO
/****** Object:  Database [Hangar]    Script Date: 11/22/2021 11:27:32 AM ******/
CREATE DATABASE [Hangar]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'hangar_data', FILENAME = N'c:\temp\hangar.dat' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'hangar_log', FILENAME = N'c:\temp\hangar.log' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Hangar].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Hangar]
GO
/****** Object:  Table [dbo].[Aviones]    Script Date: 11/22/2021 11:27:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Aviones](
	[Marca] [varchar](50) NOT NULL,
	[Modelo] [varchar](50) NOT NULL,
	[VelocidadMaxima] [int] NOT NULL,
	[AlturaMaxima] [int] NOT NULL,
	[Peso] [float] NOT NULL,
	[Largo] [float] NOT NULL,
	[Ancho] [float] NOT NULL,
	[Anio] [int] NOT NULL,
	[Tipo] [int] NOT NULL,
	[Motor] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Globos]    Script Date: 11/22/2021 11:27:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Globos](
	[Marca] [varchar](50) NOT NULL,
	[Modelo] [varchar](50) NOT NULL,
	[VelocidadMaxima] [int] NOT NULL,
	[AlturaMaxima] [int] NOT NULL,
	[Peso] [float] NOT NULL,
	[Largo] [float] NOT NULL,
	[Ancho] [float] NOT NULL,
	[Anio] [int] NOT NULL,
	[CapacidadAire] [int] NOT NULL,
	[Pasajeros] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Helicopteros]    Script Date: 11/22/2021 11:27:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Helicopteros](
	[Marca] [varchar](50) NOT NULL,
	[Modelo] [varchar](50) NOT NULL,
	[VelocidadMaxima] [int] NOT NULL,
	[AlturaMaxima] [int] NOT NULL,
	[Peso] [float] NOT NULL,
	[Largo] [float] NOT NULL,
	[Ancho] [float] NOT NULL,
	[Anio] [int] NOT NULL,
	[Rotores] [int] NOT NULL,
	[Tipo] [int] NOT NULL
) ON [PRIMARY]
GO
USE [master]
GO
